openapi: 3.0.3
info:
  title: Kzquandary Mini Project - OpenAPI 3.0
  description: |-
    Mini Project for Alterra Academy with topic Rubbish Collection, user can create transaction, pickup, and chat. and collector can get transaction create transaction and chat
  contact:
    email: kaze@kzquandary.my.id
  version: 1.0.11
externalDocs:
  description: Find out more about Kzquandary
  url: http://kzquandary.my.id
servers:
  - url: https://miniproject.kzquandary.my.id/api/v1
tags:
  - name: user
    description: Operations about user
  - name: transaction
    description: Operations about transaction
  - name: pickup
    description: Operations about pickup
  - name: chat
    description: Operations about chat
  - name: utils
    description: Operations about Utils API

paths:
  /login:
    post:
      tags:
        - user
      summary: Login User
      description: User melakukan login menggunakan email dan username, dan mendapatkan response token
      operationId: login
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
                - email
                - password
              properties:
                email:
                  type: string
                password:
                  type: string
              example:
                email: kaze@kzquandary.my.id
                password: kzquandary
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: boolean
                  message:
                    type: string
                  data:
                    type: array
                    properties:
                      token:
                        type: string
              example:
                status: true
                message: Login Success
                data:
                  - token: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpZCI6IjY0MjUxMjI3OTI3NjI3NjQwOSIsImlhdCI6MTY4MzUxMjYyMiwiZXhwIjoxNjgzNTIwNjIyfQ.3Qw6nZ1Nl9L3zKq8UcF8ZI6BjB4sZ9aJ5rSfJY1w7gM
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: boolean
                  message:
                    type: string
                example:
                  status: false
                  message: Invalid email or password
  /register:
    post:
      tags:
        - user
      summary: Register User
      description: User melakukan register menggunakan email dan username, dan mendapatkan response token
      operationId: register
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
                - email
                - username
                - password
              properties:
                email:
                  type: string
                password:
                  type: string
                address:
                  type: string
                gender:
                  type: string
                  enum:
                    - Laki-laki
                    - Perempuan
              example:
                email: kaze@kzquandary.my.id
                username: kaze
                password: kzquandary
                address: jalan raya cimahi
                gender: Laki-laki
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: boolean
                  message:
                    type: string
                  data:
                    type: array
                    properties:
                      token:
                        type: string
              example:
                status: true
                message: Register Success
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: boolean
                  message:
                    type: string
                example:
                  status: false
                  message: Invalid email or password
  /pickup:
    post:
      tags:
        - pickup
      summary: Create Pickup
      description: User membuat pickup, harga normal pickup itu Rp. 3000 per kg
      operationId: pickup
      security:
        - bearerAuth: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
                - weight
                - description
              properties:
                weight:
                  type: number
                description:
                  type: string
              example:
                weight: 2
                description: tolong ambil depan rumah
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: boolean
                  message:
                    type: string
                  data:
                    type: array
                    properties:
                      token:
                        type: string
              example:
                status: true
                message: Pickup Created
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: boolean
                  message:
                    type: string
                example:
                  status: false
                  message: Pickup Failed
    get:
      tags:
        - pickup
      summary: Get All Pickup
      description: User mendapatkan semua pickup
      operationId: getAllPickup
      security:
        - bearerAuth: []
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: boolean
                  message:
                    type: string
                  data:
                    type: array
              example:
                status: true
                message: Pickup Found
                data:
                  - id: 1234
                    nama: kaze
                    address: jalan raya cimahi
                    phone: 08987654321
                    weight: 2
                    description: tolong ambil depan rumah
                    earning: 6000
                    status: pending
                    created_at: 2022-10-10 21:36:21
                  - id: 1235
                    nama: kaze
                    address: jalan raya cimahi
                    phone: 08987654321
                    weight: 2
                    description: tolong ambil depan rumah
                    earning: 6000
                    status: pending
                    created_at: 2022-10-10 21:36:21
  /pickup/{id}:
    get:
      tags:
        - pickup
      summary: Get Pickup
      description: User mendapatkan pickup
      operationId: getPickup
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
          example: 1234
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: boolean
                  message:
                    type: string
                  data:
                    type: array
              example:
                status: true
                message: Pickup Found
                data:
                  - id: 1234
                    nama: kaze
                    address: jalan raya cimahi
                    phone: 08987654321
                    weight: 2
                    description: tolong ambil depan rumah
                    earning: 6000
                    status: pending
                    created_at: 2022-10-10 21:36:21
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: boolean
                  message:
                    type: string
                example:
                  status: false
                  message: Gagal mendapatkan pickup
    delete:
      tags:
        - pickup
      summary: Delete Pickup
      description: User menghapus pickup
      operationId: deletePickup
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
          example: 1234
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: boolean
                  message:
                    type: string
                  data:
                    type: array
              example:
                status: true
                message: Pickup Deleted
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: boolean
                  message:
                    type: string
              example:
                status: false
                message: Gagal menghapus pickup
  /transaction:
    post:
      tags:
        - transaction
      summary: Create Transaction
      description: Collector melakukan pickup
      operationId: transaction
      security:
        - bearerAuth: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
                - pickup_id
              properties:
                pickup_id:
                  type: string
              example:
                pickup_request_id: 1234
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: boolean
                  message:
                    type: string
                  data:
                    type: array
              example:
                status: true
                message: Transaction Created
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: boolean
                  message:
                    type: string
                example:
                  status: false
                  message: Transaction Failed
    get:
      tags:
        - transaction
      summary: Get Transaction
      description: Collector mendapatkan transaction
      operationId: getTransaction
      security:
        - bearerAuth: []
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: boolean
                  message:
                    type: string
                  data:
                    type: array
              example:
                status: true
                message: Transaction Found
                data:
                  - pickup_transaction_id: 1234
                    pickup_request_id: 1234
                    nama: kaze
                    collector: nurfaid
                    address: jalan raya cimahi
                    destination: jalan raya cimahi
                    pickup_time: 2022-10-10 21:36:21
                  - pickup_transaction_id: 1234
                    pickup_request_id: 1234
                    nama: kaze
                    collector: nurfaid
                    address: jalan raya cimahi
                    destination: jalan raya cimahi
                    pickup_time: 2022-10-10 21:36:21
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: boolean
                  message:
                    type: string
                example:
                  status: false
                  message: Transaction Failed
  /transaction/{id}:
    get:
      tags:
        - transaction
      summary: Get Transaction
      description: Collector mendapatkan transaction
      operationId: getTransaction
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
          example: 1234
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: boolean
                  message:
                    type: string
                  data:
                    type: array
              example:
                status: true
                message: Transaction Found
                data:
                  - pickup_transaction_id: 1234
                    pickup_request_id: 1234
                    nama: kaze
                    collector: nurfaid
                    address: jalan raya cimahi
                    destination: jalan raya cimahi
                    pickup_time: 2022-10-10 21:36:21
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: boolean
                  message:
                    type: string
                example:
                  status: false
                  message: Transaction Failed
  /chat:
    post:
      tags:
        - chat
      summary: Create Chat
      description: User membuat chat
      operationId: chat
      security:
        - bearerAuth: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
                - pickup_transaction_id
                - message
              properties:
                pickup_transaction_id:
                  type: string
                message:
                  type: string
              example:
                pickup_transaction_id: 1234
                message: hello
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: boolean
                  message:
                    type: string
                  data:
                    type: array
              example:
                status: true
                message: Chat Created
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: boolean
                  message:
                    type: string
                example:
                  status: false
                  message: Chat Failed
  /chat/{pickup_transaction_id}:
    get:
      tags:
        - chat
      summary: Get Chat
      description: User mendapatkan chat
      operationId: getChat
      security:
        - bearerAuth: []
      parameters:
        - name: pickup_transaction_id
          in: path
          required: true
          schema:
            type: string
          example: 1234
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: boolean
                  message:
                    type: string
                  data:
                    type: array
              example:
                status: true
                message: Chat Found
                data:
                  - message_id: 1234
                    sender: kaze
                    receiver: nurfaid
                    message: hello
                    created_at: 2022-10-10 21:36:21
                  - message_id: 1235
                    sender: nurfaid
                    receiver: kaze
                    message: hello
                    created_at: 2022-10-10 21:36:21
  /media/upload:
    post:
      tags:
        - utils
      summary: Upload Image
      description: User upload media
      operationId: uploadMedia
      security:
        - bearerAuth: []
      requestBody:
        content:
          multipart/form-data:
            schema:
              type: object
              required:
                - file
              properties:
                file:
                  type: string
                  format: binary
              example:
                file: image
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: boolean
                  message:
                    type: string
                  data:
                    type: array
                example:
                  status: true
                  message: Media Uploaded
                  data:
                    - image_url: http://kzquandary.my.id/image.jpg
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: boolean
                  message:
                    type: string
                example:
                  status: false
                  message: Upload Media Failed

