openapi: 3.0.3
info:
  title: Kzquandary Mini Project - OpenAPI 3.0
  description: |-
    Mini Project for Alterra Academy with topic Rubbish Collection, user can create pickup request, topup balance, and chat. and collector can get transaction create transaction and chat
  contact:
    email: kaze@kzquandary.my.id
  version: 1.0.11
externalDocs:
  description: Find out more about Kzquandary
  url: http://kzquandary.my.id
servers:
  - url: https://api.kzquandary.my.id/api/v1
tags:
  - name: user
    description: Operations about user
  - name: pickup
    description: Operations about pickup
  - name: transaction
    description: Operations about transaction
  - name: payment
    description: Operations about payment
  - name: chat
    description: Operations about chat
  - name: utils
    description: Operations about Utils API

paths:
  /login:
    post:
      tags:
        - user
      summary: Login User
      description: User melakukan login menggunakan email dan username, dan mendapatkan response token
      operationId: login
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
                - email
                - password
              properties:
                email:
                  type: string
                password:
                  type: string
              example:
                email: kaze@kzquandary.my.id
                password: kzquandary
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: boolean
                  message:
                    type: string
                  data:
                    type: array
                    properties:
                      token:
                        type: string
              example:
                status: true
                message: Login Success
                data:
                  - token: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpZCI6IjY0MjUxMjI3OTI3NjI3NjQwOSIsImlhdCI6MTY4MzUxMjYyMiwiZXhwIjoxNjgzNTIwNjIyfQ.3Qw6nZ1Nl9L3zKq8UcF8ZI6BjB4sZ9aJ5rSfJY1w7gM
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: boolean
                  message:
                    type: string
                  data:
                    type: array
                example:
                  status: false
                  message: Email and password cannot be empty
                  data: []
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: boolean
                  message:
                    type: string
                example:
                  status: false
                  message: Invalid email or password
                  data: []
  /register:
    post:
      tags:
        - user
      summary: Register User
      description: User melakukan register menggunakan email dan username, dan mendapatkan response token
      operationId: register
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
                - email
                - username
                - password
              properties:
                email:
                  type: string
                password:
                  type: string
                address:
                  type: string
                gender:
                  type: string
                  enum:
                    - Laki-laki
                    - Perempuan
              example:
                email: kaze@kzquandary.my.id
                username: kaze
                password: kzquandary
                address: jalan raya cimahi
                gender: Laki-laki
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: boolean
                  message:
                    type: string
                  data:
                    type: array
                    properties:
                      token:
                        type: string
              example:
                status: true
                message: Register Success
                data: []
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: boolean
                  message:
                    type: string
                example:
                  status: false
                  message: Email and password cannot be empty
                  data: []
        "409":
          description: Conflict
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: boolean
                  message:
                    type: string
                  data:
                    type: array
                example:
                  status: false
                  message: User already exists
                  data: []
  /pickup:
    post:
      tags:
        - pickup
      summary: Create Pickup
      description: User membuat pickup, harga normal pickup itu Rp. 3000 per kg
      operationId: pickup
      security:
        - bearerAuth: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
                - weight
                - description
                - image_url
              properties:
                weight:
                  type: number
                description:
                  type: string
              example:
                weight: 2
                description: tolong ambil depan rumah
                image: "https://storage.googleapis.com/kzquandary/rubbuddy/90472c83-70a2-47b1-acb4-fb2014e87decsamurai-anime-girl-katana-sci-fi-4k-wallpaper-uhdpaper.com-221@3@a.jpg"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: boolean
                  message:
                    type: string
                  data:
                    type: array
                    properties:
                      token:
                        type: string
              example:
                status: true
                message: Pickup Created
                data: []
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: boolean
                  message:
                    type: string
                example:
                  status: false
                  message: Pickup Failed
                  data: []
    get:
      tags:
        - pickup
      summary: Get All Pickup
      description: User mendapatkan semua pickup
      operationId: getAllPickup
      security:
        - bearerAuth: []
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: boolean
                  message:
                    type: string
                  data:
                    type: array
              example:
                status: true
                message: Pickup Found
                data:
                  - id: 484900
                    nama: Kaze User
                    address: Cimahi
                    phone: 
                    weight: 10
                    description: Sample description
                    earning: 30000
                    status: pending
                    created_at: null
                    image: "https://storage.googleapis.com/kzquandary/rubbuddy/21c20c7d-5acc-4667-b591-360d31acbb5esamurai-anime-girl-katana-sci-fi-4k-wallpaper-uhdpaper.com-221@3@a.jpg"
                  - id: 671620
                    nama: Kaze User
                    address: Cimahi
                    phone: 
                    weight: 10.5
                    description: Sample description
                    earning: 31500
                    status: pending
                    created_at: null
                    image: "https://storage.googleapis.com/kzquandary/rubbuddy/21c20c7d-5acc-4667-b591-360d31acbb5esamurai-anime-girl-katana-sci-fi-4k-wallpaper-uhdpaper.com-221@3@a.jpg"
        "404":  
          description: Not Found
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: boolean
                  message:
                    type: string
                example:
                  status: false
                  message: Pickup not found
                  data: []
  /pickup/{id}:
    get:
      tags:
        - pickup
      summary: Get Pickup
      description: User mendapatkan pickup
      operationId: getPickup
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
          example: 1234
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: boolean
                  message:
                    type: string
                  data:
                    type: array
              example:
                status: true
                message: Pickup Found
                data:
                  - id: 484900
                    nama: Kaze User
                    address: Cimahi
                    phone: 
                    weight: 10
                    description: Sample description
                    earning: 30000
                    status: pending
                    created_at: null
                    image: "https://storage.googleapis.com/kzquandary/rubbuddy/21c20c7d-5acc-4667-b591-360d31acbb5esamurai-anime-girl-katana-sci-fi-4k-wallpaper-uhdpaper.com-221@3@a.jpg"
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: boolean
                  message:
                    type: string
                example:
                  status: false
                  message: Pickup not found
                  data: []
    delete:
      tags:
        - pickup
      summary: Delete Pickup
      description: User menghapus pickup
      operationId: deletePickup
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
          example: 1234
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: boolean
                  message:
                    type: string
                  data:
                    type: array
              example:
                status: true
                message: Pickup Deleted
                data: []
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: boolean
                  message:
                    type: string
              example:
                status: false
                message: Gagal menghapus pickup
                data: []
  /transaction:
    post:
      tags:
        - transaction
      summary: Create Transaction
      description: Collector melakukan pickup
      operationId: transaction
      security:
        - bearerAuth: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
                - pickup_id
              properties:
                pickup_id:
                  type: string
              example:
                pickup_request_id: 1234
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: boolean
                  message:
                    type: string
                  data:
                    type: array
              example:
                status: true
                message: Pickup Transaction Created
                data: 
                - id: 716553
                  pickup_request_id: 484900
                  pickup_time: "2024-05-09T22:21:00Z"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: boolean
                  message:
                    type: string
                example:
                  status: false
                  message: Pickup Transaction Failed
                  data: []
    get:
      tags:
        - transaction
      summary: Get Transaction
      description: Collector mendapatkan transaction
      operationId: getTransaction
      security:
        - bearerAuth: []
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: boolean
                  message:
                    type: string
                  data:
                    type: array
              example:
                status: true
                message: Transaction Found
                data:
                  status: true
                  message: Pickup Transaction Found
                  data:
                    - id: 716553
                      user:
                        id: 239549
                        name: Kaze User
                        address: Cimahi
                      collector:
                        id: 958063
                        name: Kaze Collector
                      pickup_time: "2024-05-09T22:21:00Z"
                      tps_id: 1
                    - id: 716551
                      user:
                        id: 239549
                        name: Kaze User
                        address: Cimahi
                      collector:
                        id: 958063
                        name: Kaze Collector
                      pickup_time: "2024-05-09T22:21:00Z"
                      tps_id: 1
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: boolean
                  message:
                    type: string
                example:
                  status: false
                  message: Transaction not found
                  data: []
  /transaction/{id}:
    get:
      tags:
        - transaction
      summary: Get Transaction
      description: Collector mendapatkan transaction
      operationId: getTransaction
      security:
        - Bearer: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
          example: 1234
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: boolean
                  message:
                    type: string
                  data:
                    type: array
              example:
                status: true
                message: Transaction Found
                data:
                  status: true
                  message: Pickup Transaction Found
                  data:
                    - id: 716553
                      user:
                        id: 239549
                        name: Kaze User
                        address: Cimahi
                      collector:
                        id: 958063
                        name: Kaze Collector
                      pickup_time: "2024-05-09T22:21:00Z"
                      tps_id: 1
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: boolean
                  message:
                    type: string
                example:
                  status: false
                  message: Transaction not found
                  data: []
  /payments:
    post:
      tags:
        - payment
      summary: User melakukan Topup Saldo
      description: User melakukan Topup Saldo
      operationId: createPayment
      security:
        - Bearer: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
                - amount
              properties:
                amount:
                  type: number
              example:
                amount: 100000
      responses:
        "201":
          description: Created
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: boolean
                  message:
                    type: string
                  data:
                    type: array
                example:
                  status: true
                  message: Payment Created
                  data: 
                    - order_id: "106b83bd-8aa7-457c-b1f9-7fcdbe636a57"
                      user_id: 239549
                      amount: 100000
                      snap_url: "https://app.sandbox.midtrans.com/snap/v4/redirection/e91d9403-e920-4b95-a9e1-cacea6bd4274"
  /payments/verify/{order_id}:
    get:
      tags:
        - payment
      summary: Verify Payment
      description: Verify Payment
      operationId: verifyPayment
      security:
        - Bearer: []
      parameters:
        - name: order_id
          in: path
          required: true
          schema:
            type: string
          example: 106b83bd-8aa7-457c-b1f9-7fcdbe636a57
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: boolean
                  message:
                    type: string
                  data:
                    type: array
                example:
                  status: true
                  message: Payment Verified
                  data: []
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: boolean
                  message:
                    type: string
                example:
                  status: false
                  message: Payment not found
                  data: []
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: boolean
                  message:
                    type: string
                example:
                  status: false
                  message: Payment already verified
                  data: []
  /media/upload:
    post:
      tags:
        - utils
      summary: Upload Image
      description: User upload media
      operationId: uploadMedia
      security:
        - Bearer: []
      requestBody:
        content:
          multipart/form-data:
            schema:
              type: object
              required:
                - file
              properties:
                file:
                  type: string
                  format: binary
              example:
                file: image
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: boolean
                  message:
                    type: string
                  data:
                    type: array
                example:
                  status: true
                  message: Media Uploaded
                  data:
                    - image_url: "https://storage.googleapis.com/kzquandary/rubbuddy/90472c83-70a2-47b1-acb4-fb2014e87decsamurai-anime-girl-katana-sci-fi-4k-wallpaper-uhdpaper.com-221@3@a.jpg"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: boolean
                  message:
                    type: string
                example:
                  status: false
                  message: Upload Media Failed
                  data: []
